*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
iframe {
  border: 0;
  width: 100%;
  height: 100%;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  margin-top: 30px;
}
@media screen and (max-width: 999px) {
  .content-wrapper {
    grid-template-columns: 6fr 4fr;
  }
}
@media screen and (max-width: 799px) {
  .content-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 599px) {
  .content-wrapper {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}
